<ul class="nav flex-column" id="nav_accordion">
    {% for item in categories_with_subcategories %}
        {% if item.subcategories %}
        <li class="nav-item has-submenu">
            <a class="nav-link" href="{% url 'category_detail' item.category.slug %}" data-bs-toggle="collapse" data-bs-target=".submenu-{{ forloop.counter }}">{{ item.category.name }}<span class="float-end">&#x25BC;</span></a>
            <ul class="submenu collapse submenu-{{ forloop.counter }}">
                {% for subcategory in item.subcategories %}
                <li><a class="nav-link" href="#">{{ subcategory.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'category_detail' item.category.slug %}">{{ item.category.name }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>


<!-- <ul class="nav flex-column" id="nav_accordion">
    <li class="nav-item">
        <a class="nav-link" href="#">Link name</a>
    </li>
    <li class="nav-item has-submenu">
        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target=".submenu-1">Submenu links <span class="float-end">&#x25BC;</span></a>
        <ul class="submenu collapse submenu-1">
            <li><a class="nav-link" href="#">Submenu item 1</a></li>
            <li><a class="nav-link" href="#">Submenu item 2</a></li>
            <li><a class="nav-link" href="#">Submenu item 3</a></li>
        </ul>
    </li>
    <li class="nav-item has-submenu">
        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target=".submenu-2">More menus <span class="float-end">&#x25BC;</span></a>
        <ul class="submenu collapse submenu-2">
            <li class="nav-item has-submenu">
                <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target=".submenu-3">Submenu links <span class="float-end">&#x25BC;</span></a>
                <ul class="submenu collapse submenu-3">
                    <li><a class="nav-link" href="#">Submenu item 1</a></li>
                    <li><a class="nav-link" href="#">Submenu item 2</a></li>
                    <li><a class="nav-link" href="#">Submenu item 3</a></li>
                </ul>
            </li>
            <li><a class="nav-link" href="#">Submenu item 5</a></li>
            <li><a class="nav-link" href="#">Submenu item 6</a></li>
            <li><a class="nav-link" href="#">Submenu item 7</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Something</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Other link</a>
    </li>
</ul> -->







