.sidebar {
    margin-top: 0px;
    padding: 10px;
    list-style: none;
  }

  .sidebar h4 {
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }



.nav-link {
    color: whitesmoke !important; /* Change link color to black */
    font-family: 'Roboto', sans-serif; /* Apply custom font */
    font-weight: 500; /* Slightly bolder text for a professional look */
}

.nav-link:hover {
    color: #555 !important; /* Optional: Add a hover effect */
}



